# Игнорировать node_modules
node_modules/
frontend_react/node_modules/

# Логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env
.env.local
.env.development
.env.production

# Сборка
dist/
build/